<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favorite movie review</h1>
    <p>To add form elements inside the navbar, add the .navbar-form class to a form element and add an input(s). Note that we have added a .form-group class to the div containe</p>
    <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>

<%end%>
<div class="row">
  <% @movies.each do |movie|%>
      <div class = "col-sm-6 col-md-3" >
        <div class="thumbnail">
            <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie%>
        </div>
      </div>
  <%end%>
</div>
